.handle-company-container {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.company-list-container {
    display: flex;
    flex-direction: column;
    margin-left: 9.3rem;
    text-align: left;
}


ul {
    list-style: none;
}

.companies-li {
    padding: 0.3rem;
}

.companies-li:hover {
    color: #000;
    cursor: pointer;
}

.company-info-container {
    background: #466289;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.show-persons {
    position: absolute;
    top: 50.7%;
    left: 50%
}

table {
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.company-name {
    font-size: 2rem;
    margin-top: 1rem;
}


.company-employees {
    font-size: 1rem;
}

.remove {
    color: #FF0000;
    cursor: pointer;
}

.add-employee {
    background: #7D7B7B;
    color: #fff;
    border: none;
    padding: 0.3rem;
    cursor: pointer;
}

.person-list-container {
    padding-bottom: 6rem;
}