.create-company-container {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 50vw;
}


.form-control {
    display: flex;
    flex-direction: column;
}

label {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

input {
    height: 1rem;
    width: 50%;
    margin: 0 auto;
    padding: 0.6rem;
    border: none;
}

.title {
    padding-bottom: 1rem;
    font-size: 2rem;
}


.btn-submit {
    border: none;
    width: 52.4%;
    height: 2rem;
    background:#466289;
    color: #ffff;
    margin-top: 1rem;
}

.btn-submit:hover {
    background: #627894;
}