.App {
  text-align: center;
  color: #fff;
  overflow-y: hidden;
  }

.div-create-container {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
}

h3 {
  margin-top: 6rem;
  cursor: pointer;
  text-align: left;
  margin-left: 12%;
  width: fit-content;
}

h3:hover {
  text-decoration: underline;
}


